# Ignore build outputs.
/build/**
/release/**

# Ignore plugins build outputs.
/plugins/build/**

# Ignore docker related files.
/docker/*.hpp
/docker/*.apk

# Ignore cache files.
__pycache__
.mypy_cache

# Ignore test files.
/tests/source
/tests/run_test
*.gcda
*.gcno
*.gcov
lcov
lcov.info

# Ignore concatenated file.
redalien_source_concatenated.txt
